{% extends "layout.html" %}

{% block title %} Home page{% endblock  %}

{% block content %}
<h1>All code is here</h1>
<div class="grid grid-cols-6 gap-4 m-4">
{% for code_App in code %}
<div class='bg-blue-800 p-5 rounded  '>
    <img  class ="rounded shadow-lg" src="{{code_App.image.url}}" alt="{{code_App.name}}">
    <h3>{{code_App.name}}</h3>
    {% comment %} <p>{{code_App.description}}</p> {% endcomment %}
    <a href="{% url 'details' code_App.id%}">
        <button
        type="button"
        class='inline-flex items-center w-[100%] justify-center px-4 py-2 border border-transparent 
        text-sm font-medium rounded-md text-white bg-orange-200 hover:bg-orange-700
        focus: outline-none focus: ring-2 focus:ring-offset-2 focus: ring-orange-500'
        >{{code_App.type}}-{{code_App.id}}</button>
    </a>
</div>
{% endfor %}
</div>
{% endblock  %}
